body{
    background-image: url(https://media.istockphoto.com/id/1130849701/vector/letter-b-illustration-of-luxury-logo-classic-and-elegant-logo-designs.jpg?s=612x612&w=0&k=20&c=eSRLEHPOxUwUemJZnePEAZKW-rrukymyzXWrJxjYY0E=);
    background-repeat: no-repeat;
    background-position: 50% 50%;

}
#hero_section{
    height: 48vh;
    display: flex;
}

.sec1 {
    width: 50%;
    height: 100%;
}
#fname{
    font-size: 250%;
}
#fname{
    text-align: center;
}
#lupin{
    width: 75;
    height: 100%;
    border-radius: 50%;
}
#ABOUT_ME{
    text-align: center;
    margin-top: 2%;
    padding: 3%;
    
}
   


form{
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
    padding: 2%;
    border-radius: 3% 3%;
}

